:root{
  --background:rgb(10, 10, 10);
  --text-color:white;
  --blue-tl: rgb(0, 0, 190);
  --blue-tr: rgb(0, 0, 128);
  --blue-bl: rgb(0, 0, 80);
  --blue-br: rgb(0, 0, 32);

}

@keyframes cursor {
  0%   {left: 0px; bottom: 0px;}
  12.5%  {left: 3px; bottom: 3px;}
  25%  {left: 6px; bottom: 0px;}
  37.5% {left: 3px; bottom:-3px;}
  50% {left: 0px; bottom: 0px;}
  62.5% {left: -3px; bottom: 3px;}
  75% {left: -6px; bottom: 0px;}
  87.5% {left: -3px; bottom: -3px;}
  100% {left: 0px; bottom: 0px;}
}

.pointer{
  position: relative;
  content: url('/photos/pointer3.png');
  transform: scale(0.25);
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in;
}



h1, h2, h3, h4, h5, h6{
  margin:5px;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}


body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Reactor7';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-color);
  font-size: x-large;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .main{
    width: 80%;
  }
}

.title{
  display: flex;
  justify-content: center;
}

.content-main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-right: 12px;
}

.content-menu{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu{
  height: auto;
  right: 20px;
  top:30px;
  z-index: 2;
  position: relative;
  width: 230px;
  box-shadow: 0 0 10px 10px black;
}

.time{
  display: flex;
  justify-content: space-between;
  padding-top:8px;
  padding-bottom: 8px;
}

.menu-ordered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:40px;
  
}

.menu-inside{
  margin-bottom:10px;
  margin-top: 10px;
}

.menu-link{
  user-select:none;
  -webkit-tap-highlight-color: transparent;
}


/*old cursor thing*/
/*.menu-link::before{
  content: url('/photos/pointer2.png');
  opacity: 0;
  position: absolute;
  transform: scale(0.25) translate(-740px, -360px);
  transition: all 0.2s;
}

.menu-link:hover::before{
  opacity: 1;
}*/

.title{
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .main{
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .main{
    margin-left: 20px;
  }

}


.box{
  background: linear-gradient(to top left ,var(--blue-br), var(--blue-tl)), linear-gradient(to top right, var(--blue-bl),var(--blue-tr));
  border-radius: 5px;
  box-shadow: 
  0 0 3px 2px black,
  0 0 0px 5px white,
  0 0 1px 6px white,
  0 0 2px 8px black,
  0 0 10px 10px rgb(29, 29, 29);
  margin: 6px;
  margin-bottom: 10px;
  margin-top:16px;
}

.content{
  width: 100%;
  height: 400px;
}

.content-inside{
  margin: 10px;
  text-align: center;
}


.menu-materia-test{
  background: radial-gradient(circle at left top, white -20% , rgb(0, 163, 0) 50%, black );
  border-radius: 100%;
  width: 25px;
  height: 25px;
  box-shadow: 
  0 0 2px 1px black,
  0 0 0px 3px white,
  0 0 1px 5px white,
  0 0 2px 6px black,
  0 0 8px 8px rgb(29, 29, 29);
  margin: 6px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
  display: none;
  transition: all 0.3s;
}

.grey{
  background: radial-gradient(circle at left top, white -20% , red 50%, black );
}

@media only screen and (max-width: 750px) {
  .menu-materia-test{
    display: flex;
  }
  .content-menu{
    opacity: 1;
    display: flex!important;
    position: absolute;
    height: auto;
    transition: all 0.3s;
    right: 10px;
    top:42px;
  }

  .menu{
    right: 0; bottom: 0;
  }

  .close-menu{
    transform: translate(300px);
    opacity: 0;
    visibility: hidden;
  }

  .title{
    z-index: 4;
  }
}

.blur{
  position: absolute;
  visibility: hidden;
  top:80px;
  bottom: 0;
  left: 0;
  right: 0;
  
  transition: all 0.3s;
}

.visible-blur{
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}